.mypage-profile-card {
  background-color: #e0b0ce;
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 16px;
  box-sizing: border-box;
  flex-direction: column;
  margin-top: 24px;
}

.mypage-profile-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  flex-direction: column;
  padding: 16px;
}

.logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: auto;
  background-color: rgba(252, 101, 196, 0.3);
}

.mypage-category-box {
  width: 100%;
  height: auto;
  padding: 16px;
  display: flex;
  align-items: flex-start;
  border-radius: 12px;
  border: solid 0.5px #e0b0ce;
  margin-bottom: 16px;
  box-sizing: border-box;
  flex-direction: column;
}
