.result-floating {
  position: fixed;
  bottom: 24px;
  left: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.up {
  bottom: 84px;
}

/* PC */
@media (min-width: 415px) {
  .result-floating {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 414px;
    position: static;
  }
  .result-pc-floating {
    height: auto;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .up {
    margin-bottom: 12px;
  }
}

.result-card-back {
  /* padding: 16px; */
  padding-top: 32px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
}

.result-card {
  padding: 16px;
  background-color: #e0b0ce;
  display: flex;
  width: 100%; /* 화면 가로 픽셀 작은 애들은 어차피 깨지네... 어떡하지? */
  height: 160px;
  border-radius: 16px;
  box-sizing: border-box;
}

.result-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  flex-direction: row;
}

.result-page-box {
  width: 100%;
  height: auto;
  padding: 16px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  border: solid 0.5px #e0b0ce;
  margin-bottom: 16px;
  box-sizing: border-box;
  justify-content: space-between;
}

.category-scroll {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  white-space: nowrap;
  overflow: auto;
  width: 100%;
  box-sizing: border-box;
}
.result-category-box {
  padding: 8px;
  margin-right: 8px;
  border-radius: 8px;
  background-color: rgba(224, 176, 206, 0.2);
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 16px;
  width: 100%;
}

.go-leader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: auto;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: rgba(75, 56, 68, 0.3);
}

.result-rank {
  background-color: #e0b0ce;
  display: flex;
  width: 100%; /* 화면 가로 픽셀 작은 애들은 어차피 깨지네... 어떡하지? */
  height: auto;
  border-radius: 16px;
  flex-direction: column;
  box-sizing: border-box;
}

.result-rank-content {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  flex-direction: column;
}
