.card {
  will-change: transform;
  background-color: #e0b0ce;
  display: flex;
  width: 100%; /* 화면 가로 픽셀 작은 애들은 어차피 깨지네... 어떡하지? */
  height: 100%;
  border-radius: 16px;
  box-sizing: border-box;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
