.tutorial-back {
  overscroll-behavior: contain;
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
}

.tutorial-card {
  width: 100%;
  height: auto;
  min-height: 300px;
  max-height: 600px;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 10px 0 rgba(75, 56, 68, 0.3);
  background-color: #e0b0ce;
}

.final {
  will-change: transform;
}

.carousel-inner {
  height: 100% !important;
  box-sizing: border-box;
}

.carousel-item {
  padding-right: 16px;
  padding-left: 16px;
  height: 100%;
}

.carousel-indicators {
  display: none;
}

.car-indi {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: "row";
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  left: 0;
  right: 0;
  position: fixed;
  bottom: 24px;
  display: flex;
}

.car-icons {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  border: solid 1px #e0b0ce;
  margin: 4px;
}

.tut-start-btn {
  background-color: #e0b0ce;
  width: 80px;
  height: 80px;
  border-radius: 65px;
  margin-top: -20px;
}
