* {
  box-sizing: border-box;
}

.swipe {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 32px;
  margin-left: 16px;
  padding: 5px;
  background-color: #e0b0ce;
  width: 310px;
  height: 520px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
    0 10px 10px -10px rgba(50, 50, 73, 0.3);
}

/* img {
  height: 380px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} */

/* button[aria-label="previous"],
button[aria-label="next"] {
  background: salmon !important;
  color: black !important;
} */

h2 {
  display: inline-block;
  margin-right: 10px;
}

h2:nth-of-type(2) {
  opacity: 0.7;
  font-size: 1.35rem;
}

h5 {
  margin-top: -15px;
  margin-left: 2px;
  color: lightgray;
}
h5:last-of-type {
  color: darkgray;
}

/* .card > div {
  height: 380px !important;
}

.card {
  height: 500px !important;
} */

/* .slider-control-bottomcenter {
  bottom: -15px !important;
}

.slider-control-bottomcenter > ul > li > button {
  color: salmon !important;
} */
