@font-face {
  font-family: AppleSDGothicNeo;
  src: local(AppleSDGothicNeo-Bold),
    url(/path/to/AppleSDGothicNeo-Bold.woff2) format("woff2"),
    url(/path/to/AppleSDGothicNeo-Bold.woff) format("woff"),
    url(/path/to/AppleSDGothicNeo-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: SFPro;
  src: local(SFPro-Regular), url(/path/to/SFPro-Regular.woff2) format("woff2"),
    url(/path/to/SFPro-Regular.woff) format("woff"),
    url(/path/to/SFPro-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: SpoqaHanSansNeo;
  src: local(SpoqaHanSansNeo-Bold),
    url(/path/to/SpoqaHanSansNeo-Bold.woff2) format("woff2"),
    url(/path/to/SpoqaHanSansNeo-Bold.woff) format("woff"),
    url(/path/to/SpoqaHanSansNeo-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Voyage;
  src: local(Voyage-Regular), url(/path/to/Voyage-Regular.woff2) format("woff2"),
    url(/path/to/Voyage-Regular.woff) format("woff"),
    url(/path/to/Voyage-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

/* Font style */
.VGreen {
  font-family: Voyage;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2e563d;
}
.VPink {
  font-family: Voyage;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #e0b0ce;
}
.SHPink {
  font-family: SpoqaHanSansNeo;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: center;
  color: #e0b0ce;
}
.SHGreen {
  font-family: SpoqaHanSansNeo;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: center;
  color: #2e563d;
}
.LeftSDPink {
  font-family: AppleSDGothicNeo;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: #e0b0ce;
}
.LeftSDGreen {
  font-family: AppleSDGothicNeo;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: #2e563d;
}
.SDPink-lh24 {
  font-family: AppleSDGothicNeo;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: normal;
  color: #e0b0ce;
}
.SDGreen-lh24 {
  font-family: AppleSDGothicNeo;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: normal;
  color: #2e563d;
}
.SDGreen {
  font-family: AppleSDGothicNeo;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2e563d;
}
.SDPink {
  font-family: AppleSDGothicNeo;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #e0b0ce;
}
.SFPink {
  font-family: SFPro;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: #e0b0ce;
}
.fbold {
  font-weight: bold !important;
}
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f24 {
  font-size: 24px;
}
.f32 {
  font-size: 32px;
}

/* App style */
.App {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "SF Pro", "SF Pro Display", "SF Pro Icons", -apple-system,
    BlinkMacSystemFont, "Noto Sans KR", "Noto Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  background-color: #2e563d;
  overscroll-behavior: auto none;
}

.background {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 16px;
  align-items: center;
}

.styled-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e563d;
  border: 0.5px solid #e0b0ce;
  height: 48px;
  width: 100%;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #e0b0ce;
}

/* PC */
@media (min-width: 414px) {
  .frame {
    width: 414px !important;
    height: 100%;
    position: relative;
  }
  .styled-btn:hover {
    opacity: 0.5;
  }

  .styled-btn:active {
    opacity: 0;
  }
}

/* MOBILE */
@media (max-width: 414px) {
  .frame {
    flex: 1;
    display: flex;
    height: 100%;
    position: relative;
  }

  .styled-btn:active {
    opacity: 0.5;
  }
}
