.fbold {
  font-weight: bold;
}

/* Font style */
.fs40 {
  font-size: 40px;
}
.fs36 {
  font-size: 36px;
}
.fs33 {
  font-size: 33px;
}
.fs28 {
  font-size: 28px;
}
.fs26 {
  font-size: 26px;
}
.fs24 {
  font-size: 24px;
}
.fs22 {
  font-size: 22px;
}
.fs21 {
  font-size: 21px;
}
.fs20 {
  font-size: 20px;
}
.fs17 {
  font-size: 17px;
}
.fs15 {
  font-size: 15px;
}
.fs14 {
  font-size: 14px;
}
.fs13 {
  font-size: 13px;
}
.fs12 {
  font-size: 12px;
}
.fs10 {
  font-size: 10px;
}

/* App style */
.App {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  background-color: #2e563d;
}

.background {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
}

.styled-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e563d;
  border: 0.5px solid #e0b0ce;
  height: 48px;
  width: 100%;
}

.styled-btn:hover {
  opacity: 0.5;
}

.styled-btn:active {
  opacity: 0;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #e0b0ce;
}

/* PC */
@media (min-width: 414px) {
  .frame {
    width: 414px !important;
    height: 100%;
    position: relative;
  }
}

/* MOBILE */
@media (max-width: 414px) {
  .frame {
    flex: 1;
    display: flex;
    height: 100%;
    position: relative;
  }
}
